/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER RULES*/

/*MAIN RULES*/

/*FOOTER RULES*/

/*UTILITY RULES*/

/*ID*/

/*SCREEN 768PX RULES*/

/*SCREEN 1200PX RULES*/