/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER RULES*/

header{
    background-color: rgb(0, 132, 253);
    color: white;
    padding: 15px;
    width: 100%;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.header-col{
    width: 50%;
}

.content{
    margin: 10px;
}

.unstyled-menu{
    list-style-type: none;
    display: flex;
}

.unstyled-menu li{
    margin: 0px 10px;
}

.unstyled-menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.desktop-menu{
    display: none;
}

/*MAIN RULES*/

.col-100{
    width: 100%;
    margin: 10px 15px;
    padding: 20px;
    border-radius: 10px;
}

.br-50{
    border-radius: 50px;
}

.bg-jumbo{
    margin: 40px 0px;
}

.section{
    padding: 20px 0px;
}

.bg-violet{
    background-color: rgb(151, 146, 228);
}

.bg-lightblue{
    background-color: rgb(181, 221, 255);
}

.bg-white{
    background-color: white;
}

.img-phone{
    width: 100%;
}

.planning-img{
    width: 100%;
}

.circle-photo{
    position: relative;
    width: 375px;
    height: 375px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
}

.circle-photo img{
    width: auto;
    height: 100%;
    margin-left: -100px;
}

.circle-photo-about{
    border-radius: 50%;
    width: 70%;
}


/*FOOTER RULES*/

.bg-black{
    background-color: rgb(51, 51, 51);
}

/*TEXT RULES*/

.italic{
    font-style: italic;
}

.text-title{
    margin-bottom: 20px;
}

.text-content{
    line-height: 25px;
}

.text-title-bg{
    margin: 40px 0px;
}

.text-bg-blue{
    background-color: rgb(0, 132, 253);
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px 120px;
}

.text-bg-violet{
    background-color: rgb(151, 146, 228);
    border-radius: 20px;
    color: white;
    padding: 12px;
    text-align: center;
}

.text-more{
    margin: 20px 245px 20px 25px;
}

.text-cl-blue{
    color: rgb(0, 132, 253);
}

.text-cl-gray{
    color: rgb(99, 121, 140);
}

.text-cl-white{
    color: white;
}

.text-cl-violet{
    color: rgb(151, 146, 228);
}

.number-text{
    font-size: 40px;
    margin-bottom: 20px;
}

/*UTILITY RULES*/

.float-end{
    float: right;
}

.val-mid{
    vertical-align: middle;
}

.disp-inbl{
    display: inline-block;
}

.t-cent{
    text-align: center;
}

.mar-top-20{
    margin-top: 20px;
}

/*ID*/

/*SIMBOLS RULES*/

.fa-bars{
    font-size: 30px;
}

.fa-apple{
    display: inline-block;
    margin-right: 8px;
}

.title-sim{
    display: block;
    font-size: 60px;
    margin-bottom: 20px;
}

.fa-arrow-down{
    margin: 30px 100px 30px 180px;
    background-color: rgb(151, 146, 228);
    padding: 10px 12px;
    border-radius: 50px;
}

.fa-quote-left{
    margin-right: 8px;
    font-size: 20px;
}

.fa-quote-right{
    margin-left: 8px;
    font-size: 20px;
}

.fa-linkedin{
    margin: 0px 8px;
}


/*SCREEN 768PX RULES*/

@media screen and (min-width: 768px){
    .col-md-33{
        width: calc( 100% / 3 - 30px );
    }
    .col-md-66{
        width: calc( 100% / 3 * 2 - 30px);
    }   
    .col-md-50{
        width: calc( 50% - 30px );
    }
    .col-md-60{
        width: calc( 60% - 30px );
    }
    .col-md-40{
        width: calc( 40% - 30px );
    }
    .dim-700{
        width: 700px;
    }
}

/*SCREEN 1200PX RULES*/

@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
    .mobile-menu{
        display: none;
    }
    .desktop-menu{
        display: block;
    }
    .col-lg-30{
        width: calc( 30% - 30px );
    }
    .col-lg-33{
        width: calc( 100% / 3 - 30px );
    }
    .col-lg-50{
        width: calc( 50% - 30px );
    }
    .col-lg-70{
        width: calc( 70% - 30px );
    }
    .dim-1080{
        width: 1080px;
    }
}
